{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center m-2 text-danger">OUR MENUE</h2>


    <div class="row row-cols-1 row-cols-md-3 g-4 container m-auto mb-5">
      {% for item in data.categories %}
    <!-- <h1>{{item.idCategory}}</h1> -->
        <div class="col">
          <div class="card h-100">
            <img src={{item.strCategoryThumb}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.strCategory}}</h5>
              <p class="card-text">{{item.strCategoryDescription | truncatewords:10}}</p>
            </div>
          </div>
        </div>
        {% endfor %}  
      </div>



{% endblock %}